@import url('https://fonts.googleapis.com/css?family=Candal|Concert+One|Hind+Guntur:400,700&display=swap');

/* Setup */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}input::-moz-focus-inner,legend,button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto;vertical-align:top}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}html{font-size: 62.5%}img{max-width:100%;height:auto;display:block}html{scroll-behavior:smooth}.wrapper{width:80%;max-width:1480px;margin:0 auto}h1{font-size:2.5rem}*{margin:0;padding:0}*{background-size:cover;background-repeat:no-repeat;background-position:center;background-attachment:fixed}ul,ol,a{text-decoration:none;list-style:none;color:inherit}button{padding:10px;border:none;font:inherit;color:inherit;background-color:transparent}input,select,textarea{border:none;background-image:none;background-color:transparent;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;resize:none}button,input{line-height:normal}input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}inp[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;
-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}.skip-link{position:absolute;left:-1000px;top:5px;z-index:999;background: white;color:black;}.skip-link:focus{left:0;}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* General styles */
.App {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Hind Guntur', sans-serif;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #cca400;
  /* background-color: #e0e0e2; */
  color: #231f20;
}

/* Header */
.Header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.cmhLogo {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30px;
  transition: transform 0.3s ease-in-out;
}

.cmhLogo:hover,
.cmhLogo:focus {
    transform: rotate(7deg);
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-family: 'Concert One';
  font-size: 140px;
  text-transform: uppercase;
  width: 67%;
  line-height: 0.9em;
}

.myBeer {
  display: flex;
  align-items: center;
}

.space {
  width: 40px;
}

.logo {
  width: 100px;  
  height: 100px;
  margin-left: 30px;
}

h3 {
  font-size: 30px;
  padding-left: 30px;
  padding-top: 15px;
  line-height: 1.5em;
  width: 37%;
  font-weight: normal;
}

/* Main styles */
main {
  margin: 0 auto;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flavourFoodContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Flavour,
.Food,
.Selection {
  width: 45%;
  border: 5px solid #231f20;
  border-radius: 20px;
  padding: 3%;
  line-height: 4em;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 60px;
  line-height: 1em;
  margin-bottom: 30px;
}

.selectionLine {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}

select,
.button,
input {
  border: 3px solid #231f20;
  border-radius: 10px;
  height: 40px;
  font-family: sans-serif;
  font-weight: normal;
  transition: all 0.2s linear;
  width: 49%;
}

select:hover,
select:focus,
.button:hover,
.button:focus,
input:hover,
input:focus {
  background-color: #231f20;
  color: #cca400;
}

.button {
  display: inline-block;
  padding: 3px 10px;
}

input {
  padding: 0 5px;
}

h2 {
  text-transform: uppercase;
  font-size: 35px;
  line-height: 1.2em;
}

.beerTab {
  float: left;
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.barrelContainer {
  display: flex;
  position: relative;
}

.beerBarrelFlavour,
.beerBarrelFood {
  width: auto;
  height: 300px;
  margin: 20px auto;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
}

.barrelContainer:hover .overlay {
  background-color: #cca300a6;
  border-radius: 30px;
}

.barrelContainer .plus {
    display: none;
}

.barrelContainer:hover .plus {
    display: block;
}

.plus{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 45.5%;
    top: 43%;
}

.beerBarrelSelection {
  width: auto;
  height: 150px;
  margin: 5px auto;
}

.beerBarrel:nth-of-type(2) {
  margin: 5px 10%;
}

.Selection {
  margin-top: 120px;
}

/* Footer styles */
footer {
  display: flex;
  justify-content: flex-end;
  padding: 100px 0 10px;
}

footer p {
  font-size: 14px;
  color: #ffda44;
}

/* Media queries */

/* Desktop */
@media(max-width: 1200px) {
  select,
  .button,
  input {
    font-size: 15px;
  }

  h1 {
    font-size: 100px;
  }

  .space {
    width: 30px;
  }
  
  .logo {
    width: 70px;  
    height: 70px;
    margin-left: 20px;
  }
  
  h3 {
    font-size: 21px;
  }
}

/* Small desktop */
@media(max-width: 990px) {
  .wrapper {
      width: 90%;
  }

  .Flavour,
  .Food {
  width: 49%;
  }

  .Selection {
    width: 60%;
  }

  .selectionLine {
    display: flex;
    flex-direction: column;
  }

  select,
  .button,
  input {
    width: 100%;
    text-align: left;
  }

  .button {
    margin-top: 10px;
  }
}

/* Tablet to large mobile */
@media(max-width: 740px) {
  .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  } 

  h1 {
    width: 100%;
  }

  h3 {
    font-size: 20px;
    padding-left: 0;
    width: 100%;
  }

  .flavourFoodContainer {
    flex-direction: column;
  }

  .Flavour,
  .Food,
  .Selection {
  width: 95%;
  }

  .Food {
    margin-top: 120px;
  }

}

@media(max-width: 600px) {
  h1 {
    font-size: 70px;
  }

  .space {
    width: 20px;
  }
  
  .logo {
    width: 50px;  
    height: 50px;
    margin-left: 17px;
  }

  .Food,
  .Flavour {
    height: 75vh;
  }

  .Food,
  .Selection {
    margin-top: 120px;
  }

  label {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .selectionLine {
    margin-bottom: 35px;
  }

  h2 {
    font-size: 25px;
  }
}

/* Mobile */
@media(max-width: 380px) {
  h1 {
    font-size: 60px;
  }

  .space {
    width: 17px;
  }
  
  .logo {
    width: 42px;  
    height: 42px;
    margin-left: 15px;
  }

  label {
    font-size: 35px;
  }

  h2 {
    font-size: 20px;
  }

  footer p {
    font-size: 12px;
  }
}

/* Mobile landscape */
@media(max-height: 430px) {
  .App {
    height: auto;
  }
}